.crm-service-service-order-table-material {
    .col-table-0 {
        flex: 0 0 200px !important;
    }
    .col-table-1 {
        flex: 1 0 200px !important;
    }
    .col-table-2 {
        flex: 0 0 200px !important;
    }
    .col-table-3 {
        flex: 0 0 200px !important;
    }
    .col-table-4 {
        flex: 0 0 125px !important;
    }
    .col-table-5 {
        flex: 0 0 200px !important;
    }
    .col-table-6 {
        flex: 0 0 200px !important;
    }
    .col-table-7 {
        flex: 0 0 200px !important;
    }
    .col-table-8 {
        flex: 0 0 200px !important;
    }
    .col-table-9 {
        flex: 0 0 200px !important;
    }
    .col-table-10 {
        flex: 0 0 200px !important;
    }

    .col-table-end {
        flex: 0 0 70px !important;
    }
    .col-table-stt{
        flex: 0 0 40px !important;
    }
}