.crm-table-service-service-order {
    .col-table-end {
        flex: 0 0 70px !important;
      }
      .col-table-stt {
        flex: 0 0 40px !important;
      }
}

  
  
  
  .menu-dropdown-button {
    width: 20px !important;
    height: 20px !important;
  }
  
  .crm-splitbutton-product {
    width: 205px !important;
  }
  