.choose-option-wrapper {
  .choose-option {
    top: 7px;
    span {
      font-weight: 100 !important;
    }
  }

  .is-choose {
    ul {
      background-color: gray !important;
    }
  }
  
}
