.ticket-category-list {
    .col-table-0 {
        flex: 1 0 450px !important;
    }
    .col-table-1 {
        flex: 1 0 200px !important;
    }
    .col-table-end {
        flex: 0 0 50px !important;
    }
}