.crm-table-invoice-items {
  .col-table-stt {
    flex: 0 0 40px !important;
  }
  .col-table-0 {
    flex: 1 0 200px !important;
  }
  .col-table-1 {
    flex: 0 0 200px !important;
  }
  .col-table-2 {
    flex: 0 0 100px !important;
  }
  .col-table-3 {
    flex: 0 0 100px !important;
  }
  .col-table-4 {
    flex: 0 0 100px !important;
  }
  .col-table-5 {
    flex: 0 0 150px !important;
  }
  .col-table-6 {
    flex: 0 0 150px !important;
  }
  .col-table-7 {
    flex: 0 0 150px !important;
  }
  .col-table-8 {
    flex: 0 0 150px !important;
  }
  .col-table-9 {
    flex: 0 0 200px !important;
  }
  .col-table-10 {
    flex: 0 0 150px !important;
  }
  .col-table-end {
    flex: 0 0 50px !important;
  }
  .p-datatable-table {
    font-size: 12px;
  }
}

.menu-dropdown-button {
  width: 20px !important;
  height: 20px !important;
}

.crm-splitbutton-product {
  width: 205px !important;
}
