.task-todo-container {
    .task-todo {
        .task-todo-box {
            padding: 0;
            margin-bottom: 0.25rem;

            .task-todo-group {
                box-shadow: none;

                .task-todo-action {
                    opacity: 1;
                    display: flex;
                    width: fit-content;
                    align-items: center;
                }

                .task-todo-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.25rem 0.5rem;

                    &:hover {
                        background-color: var(--material-grey-2);

                        .task-todo-action {
                            opacity: 1;
                        }
                    }
                }

                .p-panel-content {
                    padding: 0 0 0.25rem 0;
                }

                .task-todo-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0.5rem 0 4rem;

                    .task-todo-item-info {
                        display: flex;
                        align-items: center;
                        flex: 1 1 auto;
                    }

                    &:hover {
                        background-color: var(--material-grey-2);

                        .task-todo-action {
                            opacity: 1;
                        }
                    }
                }

                .task-todo-check {
                    transition: 0.6s;

                    &.task-todo-done-animation {
                        animation: zoominoutsinglefeatured 0.3s;
                    }
                }

                .task-todo-input-wrapper {
                    position: relative;
                    width: fit-content;
                    max-width: 100%;
                    word-break: break-all;
                    height: 32px;
                    color: transparent;
                    padding: 0 0.55rem;

                    .task-todo-input {
                        border-color: transparent;
                        font-weight: 500;
                        color: var(--material-grey-7);
                        position: absolute;
                        width: 100%;
                        background-color: transparent;

                        &.for-item {
                            font-weight: 400;
                        }

                        &::placeholder {
                            font-weight: 400;
                            color: var(--material-grey);
                            font-style: italic;
                        }

                        &:hover {
                            border-color: #ccc;
                        }

                        &:focus {
                            border-color: var(--material-blue);
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        top: 50%;
                        left: 1rem;
                        border-top: 2px solid #ccc;
                        transition: width 0.3s;
                    }

                    &.completed {
                        .task-todo-input {
                            color: var(--material-grey);
                            font-weight: 400;
                        }
                        &::before {
                            width: calc(100% - 0.75rem);
                        }
                    }
                }
            }
        }
    }

    .task-todo-add-link-button {
        opacity: 0.8;
        color: var(--material-blue-9);
        font-size: 0.84375rem;
        margin-top: 0.25rem;
        width: fit-content;

        &.for-item {
            padding: 0 0.5rem 0 4rem;
        }

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
