@-webkit-keyframes q-linear-progress--indeterminate {
    0% {
        transform: translate3d(-35%, 0, 0) scale3d(0.35, 1, 1);
    }

    60% {
        transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
    }

    to {
        transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
    }
}

@keyframes q-linear-progress--indeterminate {
    0% {
        transform: translate3d(-35%, 0, 0) scale3d(0.35, 1, 1);
    }

    60% {
        transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
    }

    to {
        transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
    }
}

@-webkit-keyframes q-linear-progress--indeterminate-short {
    0% {
        transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1);
    }

    60% {
        transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
    }

    to {
        transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
    }
}

@keyframes q-linear-progress--indeterminate-short {
    0% {
        transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1);
    }

    60% {
        transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
    }

    to {
        transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
    }
}

.loading {
    height: 2px;
    min-height: 2px;
    max-height: 2px;
    width: 100%;
    transform: scale3d(1, 1, 1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: none;
    z-index: 2;

    &::before {
        background: var(--main-color);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: 0 0;
        -webkit-animation: q-linear-progress--indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation: q-linear-progress--indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    &::after {
        background: var(--main-color);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: 0 0;
        transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1);
        -webkit-animation: q-linear-progress--indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation: q-linear-progress--indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        -webkit-animation-delay: 1.15s;
        animation-delay: 1.15s;
    }
}
