.history-detail-header .p-field.p-col-2, .history-detail-header .p-field.p-col-4{
    font-weight: bold;
    margin: 10px 0;
}
.history-detail-item{
        margin: 5px 0;
    display: flex;
    align-items: center;
}
.dropcate  .p-dropdown-label{
    padding-right: 2rem !important;
}
.avatar-inline{
    display: inherit;
}
.avatar-inline span{
        margin-right: 0.5rem !important;
}
.percentage-ticket{
    position: relative;
}
